.count {
  display: flex;
  line-height: 16px;

  .countBtn {
    width: 16px;
    height: 16px;
    margin: 0 5px;
    padding: 0;
    border: 1px solid #ddd;
    background-color: white;
    color: #777;
  }

  .totalQuantity {
    width: 20px;
    text-align: center;
  }
}
