@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');

.login {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 1200px;
  height: 100%;
  margin: 90px auto 0 auto;
  padding: 80px 0 200px 0;
}

.signIn {
  width: 400px;
  margin: 0 auto;
  padding-top: 20px;

  .loginTitle {
    padding-bottom: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  .loginInputContainer {
    margin-top: 40px;
    padding: 0;
  }

  .errorMsg {
    padding: 10px 0 10px 0;
    color: red;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 300;
  }

  .inputBox {
    position: relative;
    list-style: none;

    .label {
      position: absolute;
    }

    .input {
      width: 400px;
      height: 62px;
      margin: 10px 0 10px 0;
      padding: 22px 20px;
      border: 1px solid #dadada;
      border-radius: 6px;

      &:focus {
        outline: none;
      }
    }

    .inputError {
      width: 400px;
      height: 62px;
      margin-top: 10px;
      padding: 22px 20px;
      border: 1px solid red;
      border-radius: 6px;

      &:focus {
        outline: none;
      }
    }
  }

  .saveEmail {
    width: 400px;
    margin: 20px 0;
    color: gray;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 300;
  }

  .loginBtn {
    width: 400px;
    height: 62px;
    margin-top: 25px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, 0.7215686275);
    color: #bebebe;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  .valid {
    background-color: #ffbb0f;
    color: white;
    cursor: pointer;
  }

  .toSignUpBox {
    display: flex;
    justify-content: center;

    .toSignUp {
      color: gray;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 13px;
      font-weight: 500;
      text-align: center;

      &:hover {
        color: #ffbb0f;
      }
    }
  }
}
