.Login {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 80px 0 200px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.signIn {
  width: 400px;
  margin: 0 auto;
  padding-top: 20px;

  .loginTitle {
    padding-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }

  .loginInputContainer {
    margin-top: 40px;
    padding: 0;

    .inputBox {
      position: relative;
      list-style: none;

      .label {
        position: absolute;
      }

      .input {
        padding: 22px 20px;
        margin-top: 10px;
        width: 400px;
        height: 62px;
        border-radius: 6px;
        border: 1px solid lightgray;

        &:focus {
          outline: none;
        }
      }

      .inputError {
        margin-top: 10px;
        padding: 22px 20px;
        width: 400px;
        height: 62px;
        border-radius: 6px;
        border: 1px solid red;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .errorMsg {
    color: red;
    font-size: 12px;
    padding: 10px 0 10px 0;
  }

  .saveEmail {
    width: 400px;
    margin: 20px 0;
    color: gray;
  }

  .loginBtn {
    width: 400px;
    height: 62px;
    margin-top: 25px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    color: lightgray;
    font-size: 16px;
    font-weight: 700;
  }
  .valid {
    background-color: #ffbb0f;
    color: white;
  }

  .toSignUpBox {
    display: flex;
    justify-content: center;

    .toSignUp {
      text-align: center;
      font-size: 14px;
      color: gray;

      &:hover {
        color: #ffbb0f;
      }
    }
  }
}
