@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');

.Login {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 80px 0 200px 0;
  flex: 1;
}

.signIn {
  width: 400px;
  margin: 0 auto;
  padding-top: 20px;

  .loginTitle {
    padding-bottom: 40px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: 700;
  }

  .loginInputContainer {
    margin-top: 40px;
    padding: 0;

    .inputBox {
      position: relative;
      list-style: none;

      .label {
        position: absolute;
      }

      .input {
        height: 62px;
        width: 400px;
        padding: 22px 20px;
        margin: 10px 0 10px 0;
        border-radius: 6px;
        border: 1px solid #dadada;

        &:focus {
          outline: none;
        }
      }

      .inputError {
        width: 400px;
        height: 62px;
        margin-top: 10px;
        padding: 22px 20px;
        border-radius: 6px;
        border: 1px solid red;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .errorMsg {
    padding: 10px 0 10px 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: red;
  }

  .saveEmail {
    width: 400px;
    margin: 20px 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: gray;
  }

  .loginBtn {
    width: 400px;
    height: 62px;
    margin-top: 25px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(241, 241, 241, 0.7215686275);
    color: #bebebe;
  }
  .valid {
    cursor: pointer;
    background-color: #ffbb0f;
    color: white;
  }

  .toSignUpBox {
    display: flex;
    justify-content: center;

    .toSignUp {
      text-align: center;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 13px;
      font-weight: 500;
      color: gray;

      &:hover {
        color: #ffbb0f;
      }
    }
  }
}
