@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');

.main {
  position: relative;
}

.mainSection {
  width: 1200px;
  margin: auto;

  .newTitle,
  .popularTitle {
    padding-top: 80px;
    padding-bottom: 80px;
    border-top: 1px solid #bbb;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
}
