.main {
  position: relative;
}

.mainSection {
  width: 1200px;
  margin: auto;

  .newTitle,
  .popularTitle {
    padding-top: 80px;
    padding-bottom: 80px;
    border-top: 1px solid #bbb;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
  }
}
