@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');

.sliderContent {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: space-around;
  width: 90%;
  padding: 0 60px;
  overflow: hidden;
  transform: translate(-50%, -50%);

  .sliderItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 250px;
    margin: 0 15px;
    padding: 15px;

    .sliderImg {
      width: 200px;
      height: 200px;
      &:hover {
        transform: scale(1.05);
      }
    }

    .sliderText {
      height: 53px;
      padding: 20px 0;
      text-align: center;
    }

    .sliderName {
      height: 24px;
      margin: 0;
      color: black;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 500;
      text-decoration: none;
      white-space: nowrap;
      &:hover {
        color: #ffbb0f;
      }
    }

    .sliderPrice {
      height: 19px;
      margin-bottom: 0;
      color: black;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 300;
      text-decoration: none;
      &:hover {
        color: #ffbb0f;
      }
    }
  }
}
