.bannerSection {
  position: relative;
  padding-top: 50px;
  text-align: center;
  object-fit: cover;

  .bannerImg {
    width: 1200px;
    height: 200px;
    margin: 2rem 0;
    object-fit: cover;
  }

  .bannerText {
    position: absolute;
    z-index: 10;
    top: calc(50% + 100px);
    left: 50%;
    height: 100%;
    margin-top: 32px;
    padding-top: 20px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    text-align: center;
    white-space: pre-wrap;
  }
}
