@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');

.productList {
  width: 1200px;
  margin: auto;

  .productListHeader {
    border-bottom: 1px solid #dadada;
    padding: 80px 0 40px 0;

    .productListTitle {
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 700;
      font-size: 50px;
      display: flex;

      .totalQuantity {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 12px;
        margin: 5px 0px 0px 14px;
      }
    }
    .headerContentBox {
      margin-top: 30px;
      text-align: left;

      .headerContent {
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 300;
      }
    }
  }
  .filterBox {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;

    .dropBoxWrapper {
      position: relative;
    }
    .dropBox {
      height: 33px;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 16px;
      border: none;
      background-color: white;

      .dropBoxArrow {
        padding-left: 8px;
        color: '#000000';
      }
    }
  }
  .dropBoxListContainer {
    position: absolute;
    top: 100%;
    transform: translateX(-40px);

    .dropBoxList {
      min-width: 120px;
      border: 1px solid #dadada;

      .dropBoxContent {
        min-height: 49px;
        padding: 10px 16px;
        display: flex;
        align-items: center;
        background-color: white;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 300;

        &:hover {
          background-color: rgba(241, 241, 241, 0.7215686275);
          color: #ffbb0f;
        }
      }
    }
  }

  .productListMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 50px;

    .productItem {
      width: 282px;
      height: 377px;
      margin-top: 60px;
      border: none;

      .productImg {
        width: 282px;
        height: 282px;
        &:hover {
          transform: scale(1.05);
        }
      }
      .productText {
        height: 53px;
        margin-top: 20px;
        text-align: center;

        .itemName {
          height: 24px;
          margin: 0;
          padding-top: 5px;
          font-family: 'Noto Sans KR', sans-serif;
          font-weight: 300;
        }

        .itemPrice {
          height: 19px;
          margin-top: 10px;
          margin-bottom: 0;
          font-family: 'Noto Sans KR', sans-serif;
          font-weight: 300;
        }
      }
    }
  }
}
