@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');

.cart {
  width: 1200px;
  height: 100%;
  margin: 0 auto;

  .cartHeader {
    margin: 20px auto;
    padding: 20px 0 70px 0;
    text-align: center;

    .headerTitle {
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 30px;
      font-weight: 700;
    }
  }

  .cartContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px #bebebe solid;

    input[type='checkbox'] {
      accent-color: #ffbb0f;
      color: white;
    }
  }

  .cartProduct {
    width: 60%;
    height: 600px;
    margin: 20px;
    overflow-y: scroll;
    border-right: 1px #bebebe solid;

    .cartProductOption {
      display: flex;
      justify-content: space-between;
      width: 95%;
      padding-bottom: 1rem;
      color: #777;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 300;

      .cartProductDeleteBtn {
        border: none;
        background-color: rgba(241, 241, 241, 0.7215686275);
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: 300;
      }
    }

    .cartProductList {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;

      .cartProductItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 681px;
        padding: 24px 0;
        border-top: 1px #bebebe solid;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 300;
      }

      .cartProductItem:last-child {
        border-bottom: 1px #bebebe solid;
      }
    }

    .noCartItemAlert {
      width: 100%;
      height: 130px;
      padding: 130px 0;
      text-align: center;

      .alertTitle {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 54px;
        font-weight: 500;
      }

      .alertText {
        margin-top: 20px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
      }
    }

    .cartProductItem {
      .cartProductItemImg {
        width: 50px;
        height: 50px;
      }

      .cartProductName {
        width: 300px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 300;
        white-space: normal;
      }

      .cartProductPrice {
        width: 61px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
      }
    }
  }

  .cartPurchase {
    position: relative;
    align-self: flex-start;
    width: 240px;
    margin: 20px auto 0 auto;

    .cartPurchaseKeyAmount {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: auto;
      padding: 5px 0;

      &:first-child {
        margin-top: 20px;
        padding-top: 25px;
        border-top: 1px #bebebe solid;
      }

      &:nth-child(2) {
        margin-top: 10px;
        margin-bottom: 20px;
        padding-bottom: 25px;
        border-bottom: 1px #bebebe solid;
      }

      .keyTitle {
        color: #777777;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 300;
      }
    }

    .cartPurchaseKeyTotal {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 30px 0 15px 12px;
      color: #ffbb0f;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: bold;
      font-weight: 500;
    }

    .cartPurchaseBtn {
      width: 90%;
      margin: 10px 0 15px 12px;
      padding: 10px 0;
      border: none;
      border-radius: 5px;
      background-color: #ffbb0f;
      color: white;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover {
        border: #ffbb0f 0.5px solid;
        background-color: transparent;
        color: #ffbb0f;
      }

      &.disabled {
        border: #ffbb0f 0.5px solid;
        background-color: white;
        color: #ffbb0f;
      }
    }

    .deliveryAlert {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 85%;
      transform: translate(-50%, -50%);

      .deliveryAlertMessage {
        height: 25px;
        padding: 7px 0;
        border-radius: 10px;
        background-color: #ffbb0f;
        color: white;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 10px;
        text-align: center;
      }

      .deliveryAlertTriangle {
        position: absolute;
        left: calc(50% - 4px);
        width: 8px;
        border-top: 5px solid #ffbb0f;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
      }
    }
  }
}
