.ham {
  position: relative;
  z-index: 600;
  margin-right: 10px;
  margin-left: 15px;

  &:hover {
    cursor: pointer;
  }

  .line {
    z-index: 1000;
    width: 30px;
    height: 3px;
    margin: 7px 0px;

    transition-duration: 0.5s;
    background-color: #000;
  }

  .hamTopLine {
    transform: translateY(10px) rotate(45deg);
    transform-origin: center;
  }

  .hamMidLine {
    opacity: 0;
  }

  .hamBtmLine {
    transform: translateY(-10px) rotate(-45deg);
    transform-origin: center;
  }
}
