@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

// font-family: 'Roboto', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;

.productDetail {
  width: 1200px;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0 auto;
  margin-top: 30px;

  .product {
    display: flex;
    justify-content: center;
    font-size: 22px;

    .productLeft {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 300px;
      height: 500px;
      font-size: 30px;

      .productName {
        font-family: 'Roboto', sans-serif;
      }

      .price {
        font-size: 15px;
        margin: 6px 0px;
      }
    }
    .productMainImg {
      position: relative;
      display: flex;
      align-items: center;
      width: 500px;
      height: 500px;
      margin: 0px 26px;
      overflow: hidden;

      .flexBox {
        display: flex;
      }

      .arrowLeft {
        position: absolute;
        left: 10px;
        color: #bebebe;
        &:hover {
          cursor: pointer;
          color: #ffbb0f;
        }
      }

      .arrowRight {
        position: absolute;
        right: 10px;
        color: #bebebe;

        &:hover {
          cursor: pointer;
          color: #ffbb0f;
        }
      }
    }

    .mainImg {
      width: 500px;
      flex: none;
      object-fit: contain;
    }

    .productRight {
      width: 300px;
      height: 500px;
      font-size: 18px;

      .line {
        width: 300px;
        height: 1px;
        background-color: #dadada;
        margin: 20px 0px;
      }

      .grey {
        color: #afafaf;
        margin: 10px 0px;
      }

      .greyBox {
        background-color: #ebebeb55;
        border-radius: 7px;
        width: 300px;
        height: 100px;
        padding: 20px;
        margin: 20px 0px;
        font-size: 16px;

        .title {
          margin-bottom: 12px;
          margin-left: 5px;
        }
      }

      .totalPrice {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 30px;
        span {
          font-weight: 900;
          font-size: 18px;
        }
      }

      .countPrice {
        display: flex;
        justify-content: space-between;
      }

      .shoppingBtn {
        display: flex;
        justify-content: space-between;

        .cartBtn {
          border: 2px solid #ffbb0f;
          border-radius: 4px;
          padding: 7px;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            cursor: pointer;
          }

          .cartIcon {
            font-size: 24px;
          }
        }

        .buy {
          width: 230px;
          height: 51px;
          border: none;
          border-radius: 4px;
          color: #fff;
          background-color: #ffbb0f;
          font-size: 18px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .rowLine {
    width: 1200px;
    height: 1px;
    background-color: #dadada;
    margin: 20px 0px;
  }

  .table {
    display: flex;
    justify-content: space-evenly;

    .columLine {
      height: 10px;
      width: 1px;
      background-color: #dadada;
    }

    .greyTitle {
      color: #bebebe;
      width: 100px;
      text-align: center;
      &:hover {
        cursor: pointer;
        color: #000;
      }
    }
  }

  .productImgs {
    width: 900px;
    margin: 0 auto;

    img {
      width: 900px;
    }
  }
}
