.pageContentHeader {
  display: flex;
  justify-content: space-between;

  .pageContentTitle {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
  }

  button {
    border: none;
    background-color: transparent;
    height: 20px;
    font-size: 16px;
    color: #ffbb0f;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
}

.pageContentText {
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;

  h3 {
    font-size: 30px;
    font-weight: 600;
  }

  .text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 27px;
  }
}
