@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');

.active {
  display: inline-block;
  position: relative;
  z-index: 3;
  width: 100%;
  height: 60vh;
}

.inactive {
  display: none;
}

.slideImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideTitle,
.slideText {
  position: absolute;
  z-index: 10;
  top: 40%;
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
}

.slideTitle {
  top: 35%;
  font-size: 3rem;
  font-weight: 500;
}

.slideText {
  top: 65%;
  font-size: 1.5rem;
}
