@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');

.signUp {
  width: 400px;
  margin: 90px auto 70px auto;
  padding-top: 80px;

  .signUpTitle {
    padding-bottom: 40px;
    border-bottom: 1px solid #dadada;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
  }

  .infTitle {
    padding: 30px 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 500;
  }

  .signUpInputContainer {
    padding: 0;
    list-style: none;

    .errorMsg {
      color: red;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 12px;
      font-weight: 300;
    }
    .successMsg {
      color: green;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 12px;
      font-weight: 300;
    }

    .input {
      width: 100%;
      height: 62px;
      margin: 10px 0;
      padding: 22px 20px;
      border: 1px solid #dadada;
      border-radius: 6px;

      &:focus {
        outline: none;
      }
    }

    .inputError {
      width: 100%;
      height: 62px;
      margin: 10px 0;
      padding: 22px 20px;
      border: 1px solid red;
      border-radius: 6px;

      &:focus {
        outline: none;
      }
    }
  }

  .termsTitle {
    padding: 30px 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 500;
  }

  .termsContainer {
    padding: 0;
    list-style: none;

    .fullTermsBox {
      margin: 20px 0;

      .fullTermsTitle {
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 500;
      }
    }

    .fullTermsContent {
      padding-bottom: 20px;
      padding-left: 20px;
      border-bottom: 1px solid #dadada;
      color: #777;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 12px;
      font-weight: 300;
    }
  }

  .signUpFooter {
    .signUpBtn {
      width: 100%;
      height: 62px;
      margin: 40px 0;
      border: none;
      border-radius: 10px;
      background-color: rgba(241, 241, 241, 0.7215686275);
      color: #bebebe;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .signUpBtnValid {
      background-color: #ffbb0f;
      color: white;
      cursor: pointer;
    }
  }
}
