.address {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000054;

  .addressBox {
    position: fixed;
    left: 50%;
    top: 280px;
    margin-left: -250px;
    width: 500px;
    height: 260px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;

    .ham {
      margin: 8px;
      position: absolute;

      .line {
        width: 20px;
        height: 1px;
        background-color: #000;
        margin: 8px;
      }

      .lineLeft {
        transform-origin: center;
        transform: translateY(-4px) rotate(45deg);
      }
    }
  }
}
