@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.puchaseModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  background-color: #00000054;

  .puchaseModalContent {
    position: fixed;
    left: 50%;
    top: 190px;
    margin-left: -250px;
    width: 500px;
    height: 525px;
    border-radius: 10px;`                                 
    background-color: #fff;
  }
}
