@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

.cartButton {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000054;
  font-weight: 900;

  .cartModalContent {
    .icon {
      margin-right: 15px;
      color: #ffbb0f;
    }
  }
  .ham {
    position: absolute;
    z-index: 3;
    top: 16px;
    right: 10px;
    margin: 0px 5px;
    &:hover {
      cursor: pointer;
    }

    .line {
      width: 22px;
      height: 2px;
      margin: 5px 0px;
      transition-duration: 0.5s;
      background-color: #000;
    }

    .hamTopLine {
      transform: translateY(4px) rotate(45deg);
      transform-origin: center;
    }
    .hamBtmLine {
      transform: translateY(-4px) rotate(-45deg);
      transform-origin: center;
    }
  }

  .title {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 150px;
    margin-top: -75px;
    margin-left: -250px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 400;
  }
}
